@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --color-primary: #fc8d1c;
  --color-primary-blue: #18bee9;
  --color-bg-light: #fff7ef;
  --color-text: #1f2937;
  --color-text-light: #6b7280;
  --color-text-white: #ffffff;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

h6{
    color: var(--color-text-light);
}

body {
  height: 100dvh;
  width: 100%;
}

.head-section {
  height: 70px;
  background-color: white;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.head-right {
  display: flex;
  gap: 10px;
}

.input-section {
  position: relative;
  margin-left: 150px;
  height: 40px;
  width: 400px;
}
.call-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-text-white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-input {
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 0, 0.05);
}

.button-one {
  background-color: var(--color-primary-blue);
  color: var(--color-text-white);
  height: 40px;
  padding: 0px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-two {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  height: 40px;
  padding: 0px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-three {
  height: 40px;
  width: 40px;
  background-color:white;
  cursor: pointer;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profil-img {
  height: 40px;
  width: 40px;
  background-color: var(--color-bg-light);
  color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  display: flex;
  height: calc(100dvh - 70px);
}

aside {
  padding: 15px;
  width: 70px;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100dvh - 70px);
}

.side-box {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: rgb(0, 0, 0, 0.6);
}

.side-box-active {
  background-color: var(--color-primary);
  color: white;
}

main {
  flex: 1;
  background: rgba(0, 0, 0, 0.1);
  min-height: calc(100dvh - 70px);
  overflow-y: auto;
}

.content-section {
  padding: 40px;
  min-height: calc(100dvh - 70px - 50px);
}

.top-section {
  background-color: white;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}

.top-boxes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.top-box {
  background-color: var(--color-bg-light);
  padding: 10px;
  border-radius: 4px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 10px;
}

.inner-box {
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.inner-box i {
  font-size: 20px;
  color: var(--color-primary);
}

footer {
  padding: 0px 15px;
  height: 50px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-text-light);
}
