@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body {
  height: 100dvh;
  width: 100%;
}

.head-section {
  height: 70px;
   background-color:white;
  border-bottom:1px solid rgb(0, 0, 0,0.2);
}

.main-section {
  display: flex;
  height: calc(100dvh - 70px); /* full height minus header */
}

aside {
  width: 70px;
  background-color:white;
  border-right:1px solid rgb(0, 0, 0,0.2);
}

main {
  flex: 1; /* THIS makes main take remaining space */
  background: rgba(0, 0, 0,0.1);
  padding: 40px;
  overflow-y: auto;
}

.top-section {
  background-color: white;
  padding: 20px;
  height:fit-content;
}

.top-boxes {
 margin-top:20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.top-box {
  background-color: orange;
  padding:10px;
}
.inner-box{
    height: 30px;
    width:30px;
    background-color: white;
}

.content-section {
  height: 1000px;
}
